/*************************
 * Development Styles
 *************************/

.red {
  color: red;
  background-color: red;
  border: medium dashed red;
}




/******************************
 * Hide .js (display using js) 
 *****************************/

.js {
  display: none;
}



/******************************
 * Banner
 *****************************/

.banner-title {
    color: white;
}

.banner-utl {
    line-height: 28px;
    color: white; 
    text-decoration: underline;
}




/******************************
 * Navigation
 ******************************/

.breadcrumb-bar {
  background-color: #ddd;
  border-top: 1px dotted #999;
  padding-left: 10px;
  margin-bottom: 0;
}
      
.breadcrumb {
  margin-bottom: 0;
  background-color: #ddd;
}


@media (max-width: 768px) {
  .breadcrumb {
    padding-left: 0;
  }
  
  .breadcrumb li {
      font-size: 24px;
  }
}



.nav-main {
  background-color: #ddd;
}


.btn-nav {
  border-radius: 0;
  background-color: #337ab7;
  color: #fff;
}


.navbar-form {
  margin-top: 2px;
  margin-bottom: 2px;
}


.navbar-toggle {
    background-color: white;
}


.navbar-toggle:hover {
    border-color: #337ab7;
}


.navbar-toggle .icon-bar {
    color: #337ab7;
    background-color: #337ab7;
}


.skip-to-content {
    padding-bottom: 14px;
}

/******************************
 * Footer
 ******************************/   

.foot {
  border-top: 1px dotted #999;
  padding-top:  20px;
}





/******************************
 * Other Styles
 ******************************/

.list-group-item:first-child {
  border-radius: 0;
}